.contSelects{
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
    max-width: 220px;
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }

.contProvincia {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contCiudad {
    display: flex;
    flex-direction: row;
    align-items: center;
}