

#cover {
  background: rgb(170,54,124);
  background: linear-gradient(90deg, rgba(216, 161, 57, 0.8) 0%, rgba(74,47,189,0.8) 100%);
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.particlesCover{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.App,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}