/* Chat Container */
.chat-container {
  max-width: fit-content; /* Ancho máximo */
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
}
.user-avatar {
  width: 30px;
  border-radius: 10px;
  margin: 10px;
}

.card {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1em;
  /* Otros estilos... */
}

.card-body {
  padding: 20px;
}

/* Header */
.card h5 {
  margin: 1em;
  text-align: center;
}

/* Nickname Form */
.form-nickname {
  display: flex;
  margin-bottom: 20px;
}

.form-nickname input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.form-nickname button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-nickname button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Chat Form */
.form-chat {
  display: flex;
  margin-bottom: auto;
}

.form-chat input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-top: 2em;
}

.form-chat button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 1em;
  padding: 1em;
}

/* Chat Messages */
#content-chat {
  max-height: 400px; /* Establece una altura máxima */
  overflow-y: auto; /* Agrega un desplazamiento vertical cuando sea necesario */
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 4px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-nickname {
  font-weight: bold;
}

.user-message,
.other-message {
  display: flex;
  flex-direction: column;
  padding: 10px; /* Añadir espacio interno a las burbujas */
  border-radius: 8px; /* Bordes redondeados para las burbujas */
  margin-right: auto; /* Empujar la burbuja al extremo derecho */
}

.user-message {
  background-color: #4caf50;
  color: #fff;
  align-self: flex-end;
}

.other-message {
  background-color: #dcdcdc;
  color: #333;
}

/* Chat Form */
.form-chat {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-chat input {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.form-chat button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
