.footer {
  position: relative;
  width: 100%;
  background: #3B7BA4;
  min-height: 100px;
  padding: 20px 5%; /* Utiliza porcentajes para el padding para que se ajuste al ancho de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../../assets/footerConnectify.png');
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 10;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 8s linear infinite;
}

.wave#wave2 {
  z-index: 9;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 8s linear infinite !important;
}

.wave#wave3 {
  z-index: 10;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 9;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 6s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px; /* Correcci贸n: background-position-x */
  }
  100% {
    background-position-x: 0px; /* Correcci贸n: background-position-x */
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px; /* Correcci贸n: background-position-x */
  }
  100% {
    background-position-x: 0px; /* Correcci贸n: background-position-x */
  }
}
