.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal button {
  background-color: #3b7ba4;
}

.overlay {
  position: relative;
  width: 35rem;
  height: 15rem;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background-color: rgba(255, 255, 255, 0.9);
}

.nameContainer {
  margin-bottom: 20px; /* Add some margin to separate it from the buttons */
}

.buttons button {
  margin: 0 10px;
  background-color: #3b7ba4;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
