
.contenedorLanding {
  /* background-color: yellow; */
  position: relative; 
  display: grid;
  grid-template-columns: 50% 50%;
  /* flex-direction: row; */
  z-index: 1; /* Establece una posición z para que el div esté por encima del SVG */
 overflow: hidden;
}
.contMujer {
  /* background-color: red; */
  height: 100%;
}
.contConnectify {
  /* background-color: blue; */
  height: auto;
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: 55% 10% 5% 30%;
  justify-content: center;
  align-items: center;
}


.contLogo {
  /* background-color: pink; */
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0rem;
  margin-top: 5rem;
}

.contTitulo {
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-left: -3rem;
  width: 120%;
}

.imgMujer {
  width: 90%;
  margin-left: 3rem;
  margin-top: 3rem;
}
.imgLogo {
  /* background-color: white; */
  /* margin-top: 0rem; */
  width: 70%;
}
.imgTitulo {
  margin-left: 0rem;
  margin-top: 0rem;
  width: 50%;
}
.contButtons {
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  margin-top: -6rem;
  /* background-color: orange; */
  width: auto;
  align-items: center;
  justify-content: center;
}

.Login{
  margin-top: 1rem;
  background-color: rgb(34, 123, 175);
  border-radius: 6px;
  width: 7rem;
  height: 2rem;
}
.home{
  margin-top: 1rem;
  background-color: rgb(34, 123, 175);
  /* background-color: rgb(70, 70, 224); */
  border-radius: 6px;
  width: 7rem;
  height: 2rem;
}
.subTitulo {
  /* background-color: aqua; */
  margin-top: -2rem;
  margin-left: 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.subTitulo h2 {
  margin: 0rem;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */
.home {
  font-size: 16px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #7a63a8 0%, #44b2e6 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.7em;
  color: #fff;
  height: 4em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.home img {
  width: 80%;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}