/* Define la cuadrícula con tres columnas por defecto y un gap de 2em */

Cover {
  z-index: 1;
}
.container111 {
  z-index: 1;
  position: relative;
  background-color: #fff;
 padding-top: 0.3em;
  margin-left: 8em;
  margin-right: 8em;  
  border-radius: 0.51em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  height: 130em;
 }

 .footer{
  margin-top: 10em;
  z-index: 2;
  position: relative;
 }
.card {
  
    display: grid;
    grid-template-columns: repeat(3, 7fr);
    gap: 5em;
    padding: 4em;
    grid-row-gap:2em;
}

/* Establece un ancho máximo para la cuadrícula para evitar que los elementos se estiren demasiado en pantallas grandes */
@media (min-width: 1200px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 7fr);
    gap: 5em;
    padding: 4em;
    grid-row-gap:7em;
    /* Cambia a 4 columnas en pantallas más grandes */
  }
}

/* En pantallas aún más pequeñas, cambia a 2 columnas */
@media (max-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* En pantallas muy pequeñas, cambia a 1 columna */
@media (max-width: 480px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.filterStyle {
  /* background-color: rgba(12, 214, 241, 0.432); */
  /* background: linear-gradient(to right, rgba(173, 216, 230, 0.349), rgba(74, 74, 238, 0.274),rgba(158, 101, 158, 0.11));
  box-shadow: 0rem 0rem 2rem rgba(38, 125, 224, 0.425); */
  display: flex;
  /* grid-template-columns: 30% 30% 18% 12% 10%; */
  /* flex-wrap: wrap;  */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  margin-top: 1em;
  height: 3rem;
}
.wideLabel {
  width: 100%;
}

.spinButton {
  /* Establece estilos base para el botón */
  position: relative;
  background-color: #3498db;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  outline: none; /* Elimina el borde del foco por defecto */
  margin-top: 1em;
  margin-left: 1em;
}

.spinButton:focus {
  animation: spinAnimation 0.5s linear;
  transition: transform 0.5s linear;
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* .contSelectProf {
  background-color: red;
  width: 20%;
} */

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.contProfesionales {
  /* background-color: green; */
  margin-left: -3rem;
  margin-top: 0cqi;
  width: 35rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contProf2 {
  margin-left: 0rem;
}

.labelProf {
  /* background-color: blueviolet; */
  position: absolute;
  pointer-events: none;
  margin-left: -6rem;
  margin-top: 1.5rem;
  /* left: 24.5rem; */
  /* top: 7.5rem; */
  transform: translateY(-50%);
  font-size: 16px;
  color: #555;
  transition: 0.2s ease-out;
  z-index: 100;
}

.contentselect {
  /* background-color: blue; */
  margin-left: 0rem;
  display: flex;
  flex-direction: row;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::::::::::::::::::::::::::::::: */

.selectCss {
  /* background-color: red; */
  display: block;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 15rem;
  max-width: 100%;
  box-sizing: border-box;
  /* margin: 5rem auto; */
  margin-left: 2rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
  border-radius: 0.3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.selCity {
  margin-left: 0.5rem;
}

.selectCss::-ms-expand {
  display: none;
}
.selectCss:hover {
  border-color: #888;
}
.selectCss:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.selectCss option {
  font-weight: normal;
}

.classOfElementToColor:hover {
  background-color: red;
  color: black;
}

.selectCss option[selected] {
  background-color: orange;
}

.contPrecios {
  /* background-color: red; */
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.contMinMax {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minMax {
  font-size: 15px;
  font-weight: bold;
  color: rgb(51, 51, 192);
}

.contOrdenar {
  margin-left: 0.6rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selectOrder {
  margin-left: 0.5rem;
  width: 9rem;
}

.contRemoto {
  width: 8rem;
  margin-left: -0.5rem;
}

.selectRemoto {
  margin-left: 0rem;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.applyFilter {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 10px 20px;
  border-radius: 50%;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: rgba(0, 0, 255, 0.532);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: -0.2rem;
}

.applyFilter:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.applyFilter:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.applyFilter::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.applyFilter:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.buttonContainer {
position: relative;
bottom: 17em;
}
/* ///////////////////////////////////////////// */
.contClear {
  margin-left: 0.7rem;
}
.applyFilter {
  /* margin-top: -0.5rem; */
}
.contButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

.paginado{
  z-index: 300;
}