/* .home {
  clip-path: url(#cache);
} */

.Cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Coloca el fondo detrás de los demás elementos */
}
.homeAnim {
  position: absolute; /* Asegura que el SVG tenga una posición absoluta */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.red {
  fill: none;
  opacity: 0.15;
  stroke: #BE8B09; 
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.blue {
  fill: none;
  opacity: 0.15;
  stroke: #1E6BA2;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lightBlue {
  fill: none;
  opacity: 0.15;
  stroke: #68757B;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }


