.containerPopUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.popUp {
  position: relative;
  width: 60%;
  height: 30rem;
  border: 3px solid #e2af2f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.containerPopUpDataProf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.popUpDataProf {
  position: relative;
  width: 25rem;
  height: 10rem;
  border: 3px solid #e2af2f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.btnCloseDataProf {
  position: absolute;
  font-size: 1.2rem;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: #000000;
}

.btnCloseDataProf:hover{
  transform: scale(1.1);
}

.btnCloseUpdateDataProf {
  position: absolute;
  font-size: 1.2rem;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  transition: all 0.2s ease;
  color: #000000;
}

.btnCloseUpdateDataProf:hover{
  transform: scale(1.1);
}

.containerTitleModifyProf {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerFormUpdateProf{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerFormUpdateProf div{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.imageUpdateProf{
  border-radius: 50%;
}

.textareaUpdateProf{
  margin-top: 1rem;
  resize: none;
  border-radius: 20px;
  font-family: "Poppins, sans-serif";
  padding: .8rem;
  border: 2px solid #000000;
  color: #000000;
}

.btnUpdateProf{
  margin-top: 1.5rem;
  border-radius: 20px;
  padding: .6rem 2rem;
  background-color: #3b7ba4;
  color: #ffffff;
  outline: none;
  border: none;
  transition: all .5s ease;
}

.btnUpdateProf:hover{
  transform: scale(1.1);
}

.inputDisableUpdateProf{
  border-radius: 20px;
  border: 2px solid #000000;
  background-color: rgb(165, 165, 165);
  color: #000000;
}

.inputUpdateProf{
  border-radius: 20px;
  border: 2px solid #000000;
  color: #000000;
}

.inputUpdateProfemail{
  border-radius: 20px;
  border: 2px solid #000000;
  color: #000000;
  width: 35%;
}

.selectUpdateProf{
  width: 30%;
  height: 2.3rem;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: .5rem;
}

.spanUpdateProfEmail{
  position: absolute;
      font-size: 0.8rem;
      top: 238px;
      left: 250px;
      color: #e22f2f;
      font-weight: bold;
}

.spanUpdateProfProfession{
  position: absolute;
      font-size: 0.8rem;
      top: 238px;
      left: 560px;
      color: #e22f2f;
      font-weight: bold;
}

.spanTextareaUpdateProf{
  position: absolute;
  font-size: 0.8rem;
  top: 400px;
  left: 345px;
  color: #e22f2f;
  font-weight: bold;
}

.spanUpdateProfLocation{
  position: absolute;
  font-size: 0.8rem;
  top: 290px;
  left: 530px;
  color: #e22f2f;
  font-weight: bold;
}

