#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.logo-spiner {
  height: 16em;
  padding: .5em;
  will-change: transform;
  transition: transform 300ms;
  background-color: transparent;
}

.logo-spiner:hover {
  transform: rotate(360deg);
}

.logo {
  height: 10em;
  background-color: transparent;
}


